body {
	background-color: #f4f4f4;
	font-size: 16px;
	height: 3000px;
}
h1{
	font-size:55px;
	margin:40px 0;
	font-weight: bold;
	color:#666;
}
.input-container{
	position: relative;
}
.asterisk{
	font-size: 20px;
	position: absolute;
	right: 10px;
	top:3px;
	color: #D20707;

}
.main-form .asterisk{
	font-size: 30px;
	position: absolute;
	right: 30px;
	top:3px;
	color: #D20707;

}
.nice-message{
	padding: 10px;
	background-color: #fff;
	margin:10px 0;
	border-left:5px solid #080;
}


/* start bootstrap edit*/
.navbar{
	border-radius: 0
}
.navbar-brand{
	font-size: 1em;
}
.form-control{
	position: relative;
}

/*end bootstrap edit*/
/*start header*/
.upper-bar{
padding:25px;
background-color: #fff;	
}
.upper-bar .my-info img{
width:40px;
height:40px;
}
/*end header*/
/*start-login*/
.login-page form{
	max-width: 300px;
	margin:auto;
}
.login-page form input{

	margin-bottom: 10px;
}
.login-page [data-class="login"].selected{
	color:#337ab7;
}
.login-page [data-class="signup"].selected{
	color:#5cb85c;
}
.login-page h1{
	color:#c0c0c0;
}
.login-page h1 span{
	cursor: pointer;
}
.login-page .signup{
	display: none;
}
/*end-login*/
/*start categories*/
.item-box{
	position: relative;

}
.item-box .price-tag{
	background-color: #bebebe;
	padding:3px 10px;
	position: absolute;
	left:0;
	top:10px;
	font-weight: bold;
	color:#fff;

}
.item-box .approve-status{
	position: absolute;
	top: 40px;
	left:0;
	background-color: #b85a5a;
	color: #fff;
	padding:3px 5px;
}
.item-box .caption p{
	height: 44px;
	max-height: 44px
}
/*end categories*/
/* Start Profile Page*/
.block{
	margin-top:20px;
}
.block ul{
	padding: 0;
	margin: 0;
}
.block ul li{
	padding: 10px;	
}
.block ul li:nth-child(odd){
	background-color: #eee;
}
.block ul li span{
	display: inline-block;
	width:120px;
}

.img-thumbnail .date{
	text-align: right;
	font-size: 13px;
	color: #aaa;
	font-weight: bold;
}
.block .btn{
	margin-top: 10px;
	
}

/* End Profile Page*/

/* start Show Item Page*/
.item-info h2{
	padding: 10px;
	margin: :0;
} 
.item-info p{
	padding: 10px;
}

.item-info ul li {
padding: 10px ;

}

.item-info ul li:nth-child(odd){
	background-color: #e8e8e8;
}
.item-info ul li span{
	display: inline-block;
	width:120px;
}
.tags-items a{
	display: inline-block;
	background-color: #e2e2e2;
	padding: 2px 10px;
	border-radius: 5px;
	color: #666;
	margin-right: 5px;
}
.add-comment h3{
	margin:0 0 10px;
}
.add-comment textarea{
	display:block;
	margin-bottom:10px;
	width:500px;
	height:120px; 
}
.comment-box{
	margin-bottom: 20px
}
.comment-box img{
	max-width: 100px;
	margin-bottom: 10px;
}
.comment-box .lead{
	background-color: #e0e0e0;
	position: relative;
	padding: 10px;
	margin-top: 25px
}
.comment-box .lead:before{
	content: '';
	width: 0;
	height: 0;
	border-width: 15px;
	border-style: solid;
	border-color: transparent #e0e0e0 transparent transparent;
	position: absolute;
	top:10px;
	left: -28px;
}

/* End Show Item Page*/

/* Start our custom Page*/
.custom-hr{
	border-top: 1px solid #c9c9c9;
}
/* End our custom Page*/